.clients {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;

@media screen and (min-width: 768px) {
        padding-top: 94px;
        padding-bottom: 94px;
        width: auto;
    }
}



.clients__title {
    color: $title-text-color;
    text-align: center;
    margin-top: 0;
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {  
            margin-bottom: 30px;
        }

        @media screen and (min-width: 1200px) {
            font-size: 36px;
            line-height: 1.16;
            margin-bottom: 50px;
        }
}

.clients__svg {
    fill: #AFB1B8;
    width: 106px;
    height: 60px;
}

.clients__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  
    height: 92px;
    border-radius: 4px;
    border: 1px solid;
    border-color: $clients-color;
    transition: border-color 250ms $animation;

    width: calc((100% - 4 * 15px) / 2);
        margin: 15px;

@media screen and (min-width: 768px) {
        width: calc((100% - 6 * 15px) / 3);
            margin: 15px;
    }
@media screen and (min-width: 1200px) {
    width: 170px;
}
}

.clients__link {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* padding: 15px 30px; */
    color: $clients-color;
    transition: color 250ms $animation;
    outline: none;
    border-radius: 4px;
}


.clients__link:hover,
.clients__link:focus {
    border-color: $accent-color;
    outline: 1px solid #2196F3;
}


.clients__link:hover .clients__svg,
.clients__link:focus .clients__svg {
    fill: $accent-color;
}



.clients__ul {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;

@media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
       
}

@media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
}
