
    $primary-text-color: #757575;
    $title-text-color: #212121;
    $accent-color: #2196F3;
    $background-color-h1: #ffffff;
    $hero-color: #2F303A;
    $background-color: #F5F4FA;
    $logo-color: #000000;
    $transparent-color: rgba(255, 255, 255, 0.6);
    $border-color: #EEEEEE;
    $gradient-color: rgba(47, 48, 58, 0.4);
    $clients-color: rgb(175, 177, 184);
    $icons: rgba(255, 255, 255, 0.1);
    $animation: cubic-bezier(0.4, 0, 0.2, 1);
    $animation-color: rgba(33, 150, 243, 0.9);
    $backdrop: rgba(0, 0, 0, 0.2);
    $modal-color-svg: rgba(33, 33, 33, 1);
    $modal-input-color: rgba(33, 33, 33, 0.2);
    $border-header: rgba(236, 236, 236, 1);
